html {
	/* 選択禁止 */
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

img {
  /* 保存禁止 */
	pointer-events: none;
}

.chat-screen {
    padding: 20px;
  }
  
  .chat-image {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
  }
  
  .chat-video {
    margin-top: 10px;
  }
  
  .call-simulation {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    background-color: #f00;
    color: #fff;
    border-radius: 5px;
    animation: blink 1s infinite;
  }
  
  @keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }
  

  .masked-message {
    background-color: #f0f0f0;
    padding: 1em;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    color: #ffffff;
    /* border: 1px dashed #aaa; */
  }

  .background-color-message {
    background-color: rgba(122, 93, 235, 0.75);
  }


  .background-color-audio {
    background-color: rgba(180, 85, 235, 0.75);
  }

  .background-color-video {
    background-color: rgba(235, 93, 150, 0.75);
  }

  .background-color-photo {
    background-color: rgba(219, 72, 175, 0.75);
  }