html {
	/* 選択禁止 */
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.admin-screen {
    padding: 20px;
  }
  
  .admin-screen textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
  }
  
  .admin-screen select {
    margin-bottom: 10px;
  }
  
  .admin-screen button {
    padding: 10px 20px;
  }
  